.auth-page{
 height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
 background:linear-gradient(135deg,#000,#111,#222);
 font-family:Segoe UI;
}

.auth-card{
 background:#fff;
 padding:40px 35px;
 border-radius:14px;
 width:350px;
 box-shadow:0 25px 50px rgba(0,0,0,.4);
 text-align:center;
 animation:fade .5s ease;
}

@keyframes fade{
 from{opacity:0;transform:translateY(20px)}
 to{opacity:1;transform:translateY(0)}
}

.subtitle{
 margin:6px 0 25px;
 color:#777;
 font-size:14px;
}

.float-group{
 position:relative;
 margin-bottom:22px;
}

.float-group input{
 width:100%;
 padding:14px 12px;
 border:1px solid #ddd;
 border-radius:8px;
 font-size:15px;
 outline:none;
 background:none;
}

.float-group label{
 position:absolute;
 left:12px;
 top:50%;
 transform:translateY(-50%);
 color:#888;
 font-size:14px;
 pointer-events:none;
 transition:.2s;
 background:#fff;
 padding:0 4px;
}

.float-group input:focus + label,
.float-group input:not(:placeholder-shown) + label{
 top:-8px;
 font-size:12px;
 color:#000;
}

.password .eye{
 position:absolute;
 right:12px;
 top:50%;
 transform:translateY(-50%);
 cursor:pointer;
}

.auth-btn{
 width:100%;
 padding:13px;
 border:none;
 border-radius:8px;
 background:#000;
 color:#fff;
 font-size:16px;
 cursor:pointer;
 transition:.2s;
}

.auth-btn:hover{
 background:#333;
}

.switch{
 margin-top:18px;
 font-size:14px;
}
.success-float{
 position:fixed;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 background:#52c41a;
 color:#fff;
 padding:20px 40px;
 border-radius:12px;
 font-size:22px;
 font-weight:bold;
 animation:pop 0.6s ease;
 box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

@keyframes pop{
 0%{transform:translate(-50%,-50%) scale(0.5);opacity:0}
 80%{transform:translate(-50%,-50%) scale(1.1)}
 100%{transform:translate(-50%,-50%) scale(1)}
}