.login-page{
 height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
 background:linear-gradient(135deg,#111,#222,#000);
 font-family:Segoe UI;
}

.login-card{
 background:#fff;
 padding:40px 35px;
 border-radius:14px;
 width:340px;
 box-shadow:0 20px 40px rgba(0,0,0,.4);
 text-align:center;
 animation:fade .5s ease;
}

@keyframes fade{
 from{opacity:0;transform:translateY(20px)}
 to{opacity:1;transform:translateY(0)}
}

.login-card h2{
 margin:0;
 color:#111;
}

.subtitle{
 margin:5px 0 25px;
 color:#777;
 font-size:14px;
}

.input-group{
 margin-bottom:20px;
 position:relative;
}

.input-group input{
 width:100%;
 padding:12px 14px;
 border:1px solid #ddd;
 border-radius:8px;
 font-size:15px;
 transition:.2s;
}

.input-group input:focus{
 border-color:#000;
 outline:none;
 box-shadow:0 0 0 2px rgba(0,0,0,.1);
}

.password .eye{
 position:absolute;
 right:12px;
 top:50%;
 transform:translateY(-50%);
 cursor:pointer;
 font-size:18px;
}

.login-btn{
 width:100%;
 padding:12px;
 border:none;
 border-radius:8px;
 background:#000;
 color:#fff;
 font-size:16px;
 cursor:pointer;
 transition:.2s;
}

.login-btn:hover{
 background:#333;
}

.signup{
 margin-top:18px;
 font-size:14px;
}

.signup a{
 color:#000;
 font-weight:600;
 text-decoration:none;
}
.float-group{
 position:relative;
 margin-bottom:25px;
}

.float-group input{
 width:100%;
 padding:14px 12px;
 border:1px solid #ddd;
 border-radius:8px;
 font-size:15px;
 outline:none;
 background:none;
}

.float-group label{
 position:absolute;
 left:12px;
 top:50%;
 transform:translateY(-50%);
 color:#888;
 font-size:14px;
 pointer-events:none;
 transition:.2s ease;
 background:#fff;
 padding:0 4px;
}

.float-group input:focus + label,
.float-group input:not(:placeholder-shown) + label{
 top:-8px;
 font-size:12px;
 color:#000;
}

.password .eye{
 position:absolute;
 right:12px;
 top:50%;
 transform:translateY(-50%);
 cursor:pointer;
}