.orders-page{
 padding:40px 8%;
}

.orders-title{
 margin-bottom:30px;
 font-size:28px;
}

.orders-container{
 display:grid;
 gap:20px;
}

.order-card{
 background:white;
 padding:20px;
 border-radius:14px;
 box-shadow:0 8px 25px rgba(0,0,0,0.08);
 cursor:pointer;
 transition:.3s;
}

.order-card:hover{
 transform:translateY(-5px);
 box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.order-top{
 display:flex;
 justify-content:space-between;
 margin-bottom:15px;
}

.status{
 padding:5px 12px;
 border-radius:20px;
 font-size:13px;
 text-transform:capitalize;
}

.status.pending{ background:#fff3cd; color:#856404; }
.status.paid{ background:#d4edda; color:#155724; }
.status.cancelled{ background:#f8d7da; color:#721c24; }

.order-id{
 font-size:13px;
 color:gray;
}

.order-items{
 display:flex;
 flex-direction:column;
 gap:10px;
}

.mini-item{
 display:flex;
 gap:12px;
 align-items:center;
}

.mini-item img{
 width:55px;
 height:55px;
 object-fit:cover;
 border-radius:8px;
}

.order-bottom{
 margin-top:15px;
 text-align:right;
 font-size:16px;
}

.more-items{
 font-size:13px;
 color:gray;
}