.order-page{
 background:#f5f6fa;
 min-height:100vh;
 display:flex;
 justify-content:center;
 padding:40px 20px;
}

.center{
 text-align:center;
 margin-top:40px;
}

.order-card{
 width:900px;
 background:#fff;
 border-radius:16px;
 padding:30px;
 box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.order-header{
 display:flex;
 justify-content:space-between;
 align-items:center;
 border-bottom:1px solid #eee;
 padding-bottom:20px;
 margin-bottom:25px;
}

.status{
 margin-top:5px;
 font-weight:600;
}

.status.pending{
 color:#ff9800;
}

.status.paid{
 color:#4caf50;
}

.status.cancelled{
 color:#f44336;
}

.order-total{
 font-size:22px;
 font-weight:bold;
}

.order-items{
 display:flex;
 flex-direction:column;
 gap:15px;
}

.order-item{
 display:flex;
 align-items:center;
 justify-content:space-between;
 border:1px solid #eee;
 border-radius:12px;
 padding:15px;
}

.order-img{
 width:80px;
 height:80px;
 object-fit:cover;
 border-radius:10px;
}

.order-info{
 flex:1;
 margin-left:20px;
}

.item-subtotal{
 font-weight:bold;
}

.order-actions{
 margin-top:30px;
 display:flex;
 gap:15px;
}

.cancel-btn{
 flex:1;
 padding:12px;
 background:#ff4d4d;
 color:white;
 border:none;
 border-radius:8px;
 cursor:pointer;
}

.pay-btn{
 flex:1;
 padding:12px;
 background:black;
 color:white;
 border:none;
 border-radius:8px;
 cursor:pointer;
 transition:.3s;
}

.pay-btn:hover{
 background:#333;
}