.products-page{
 padding:40px 60px;
 background:#f6f7fb;
 min-height:100vh;
}

.title{
 font-size:32px;
 margin-bottom:30px;
 text-align:center;
 font-weight:700;
}

.loading{
 text-align:center;
 margin-top:50px;
}

.grid{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
 gap:30px;
}

.card{
 background:#fff;
 border-radius:14px;
 padding:20px;
 text-align:center;
 box-shadow:0 6px 18px rgba(0,0,0,0.08);
 transition:.25s;
}

.card:hover{
 transform:translateY(-6px);
 box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.img-wrap{
 height:170px;
 display:flex;
 align-items:center;
 justify-content:center;
 margin-bottom:15px;
}

.img-wrap img{
 max-height:160px;
 max-width:100%;
 object-fit:contain;
}

.price{
 font-size:20px;
 font-weight:bold;
 margin:10px 0;
 color:#111;
}

.btn{
 background:black;
 color:white;
 border:none;
 padding:10px 18px;
 border-radius:8px;
 cursor:pointer;
 transition:.2s;
}

.btn:hover{
 background:#ff6a00;
}
.link{
    text-decoration: none;
    color: inherit;
}
.qty-box{
 display:flex;
 align-items:center;
 gap:15px;
 margin:20px 0;
}

.qty-box button{
 width:35px;
 height:35px;
 font-size:20px;
 border:none;
 background:#111;
 color:#fff;
 border-radius:6px;
 cursor:pointer;
 transition:.2s;
}

.qty-box button:hover{
 transform:scale(1.1);
}

.qty-box span{
 font-size:18px;
 font-weight:bold;
 width:30px;
 text-align:center;
}

textarea{
 width:100%;
 padding:12px;
 border-radius:8px;
 border:1px solid #ddd;
 resize:none;
 font-size:15px;
 transition:.2s;
}

textarea:focus{
 outline:none;
 border-color:#000;
 box-shadow:0 0 0 2px rgba(0,0,0,.05);
}

button{
 transition:.25s;
}

button:hover{
 transform:scale(1.03);
}

button.buy{
 width:100%;
 padding:14px;
 background:#111;
 color:#fff;
 border:none;
 border-radius:10px;
 font-size:16px;
 cursor:pointer;
}

button.buy:hover{
 background:#000;
}

.qty-box{
 display:flex;
 align-items:center;
 gap:15px;
 margin:15px 0;
}

.qty-box button{
 width:35px;
 height:35px;
 border:none;
 background:#111;
 color:#fff;
 border-radius:6px;
 cursor:pointer;
 font-size:18px;
}

.qty-box span{
 font-size:18px;
 font-weight:600;
}

.review-form textarea{
 width:100%;
 padding:12px;
 margin-top:10px;
 border-radius:8px;
 border:1px solid #ddd;
 resize:none;
}

.review-btn{
 margin-top:12px;
 width:100%;
 padding:12px;
 background:#000;
 color:#fff;
 border:none;
 border-radius:8px;
 cursor:pointer;
}

.review-card{
 border:1px solid #eee;
 padding:15px;
 border-radius:10px;
 margin-top:15px;
 background:#fafafa;
}