.detail{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:60px;
 padding:50px;
 max-width:1200px;
 margin:auto;
}

/* IMAGE */
.gallery{
 background:#fff;
 padding:25px;
 border-radius:18px;
 box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.main{
 width:100%;
 height:420px;
 object-fit:contain;
 border-radius:12px;
 transition:.3s;
}

.main:hover{
 transform:scale(1.05);
}

.thumbs{
 display:flex;
 gap:10px;
 margin-top:20px;
}

.thumbs img{
 width:70px;
 height:70px;
 object-fit:cover;
 border-radius:10px;
 border:2px solid transparent;
 cursor:pointer;
 transition:.2s;
}

.thumbs img:hover{
 transform:scale(1.08);
}

.thumbs .active{
 border:2px solid black;
}


/* INFO */
.info{
 display:flex;
 flex-direction:column;
 gap:18px;
}

.info h2{
 font-size:32px;
 font-weight:700;
}

.price{
 font-size:28px;
 font-weight:800;
 color:#111;
}

.desc{
 color:#666;
 font-size:16px;
 line-height:1.6;
}

.buy{
 background:black;
 color:white;
 border:none;
 padding:16px;
 border-radius:10px;
 font-size:18px;
 cursor:pointer;
 transition:.25s;
}

.buy:hover{
 background:#222;
 transform:translateY(-2px);
}


/* REVIEW BOX */
.review-box{
 margin-top:30px;
 padding:20px;
 background:#fafafa;
 border-radius:14px;
 border:1px solid #eee;
}

.review-box textarea{
 width:100%;
 padding:12px;
 border-radius:10px;
 border:1px solid #ddd;
 margin-top:10px;
}

.review-btn{
 margin-top:10px;
 background:#ffcc00;
 border:none;
 padding:12px 18px;
 border-radius:8px;
 font-weight:bold;
 cursor:pointer;
}

.review-card{
 border:1px solid #eee;
 padding:15px;
 border-radius:12px;
 margin-top:15px;
 background:white;
}
.zoom-container{
 overflow:hidden;
 border-radius:12px;
}