.search{
 position:relative;
}

.search input{
 padding:10px 15px;
 border-radius:6px;
 border:none;
 outline:none;
 width:220px;
}

.results{
 position:absolute;
 top:45px;
 background:white;
 width:100%;
 border-radius:10px;
 box-shadow:0 10px 30px rgba(0,0,0,0.2);
 overflow:hidden;
 z-index:99;
}

.result-item{
 display:flex;
 align-items:center;
 gap:10px;
 padding:10px;
 text-decoration:none;
 color:black;
 transition:.2s;
}

.result-item:hover{
 background:#f5f5f5;
}

.result-item img{
 width:35px;
 height:35px;
 object-fit:cover;
 border-radius:6px;
}